<!DOCTYPE html>
<#import "spring.ftl" as spring/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${product.name}</title>
</head>
<body>
<h3><@spring.message 'products.form.input.name'/>: ${product.name} </h3>
<h3><@spring.message 'products.form.input.price'/>: ${product.price}</h3>
<h3><@spring.message 'products.form.input.count'/>:${product.count}</h3>
<br>
<form method="post" action="/products/${product.id}/update">
    <label>
        <@spring.message 'products.form.input.name'/>: <input name="name" value="${product.name}">
    </label>
    <label><@spring.message 'products.form.input.price'/>:
        <input name="price" value="${product.price}">
    </label>
    <label><@spring.message 'products.form.input.count'/>:
        <input name="count" value="${product.count}">
    </label>
    <input type="submit" value="<@spring.message 'products.form.input.submit.save'/>">
</form>
</body>
</html>